node_modules
.DS_Store
lib
dist
.bsb.lock
.merlin
*.bs.js
src/__generated__/**
!src/__generated__/.gitkeep
src/**/*.mjs
router/**/*.mjs
cli/**/*.mjs
Server.mjs
_release
stats.html

# Ignore the yarn cache since the CI runs a different operating system so commiting
# the cache would break it.
.yarn/cache
.yarn/install-state.gz
