# Ignore common system files
.DS_Store

# Ignore node modules
node_modules

# Ignore rescript folders
lib
.bsb.lock
.merlin
#
# Ignore the yarn cache since the CI runs a different operating system so commiting
# the cache would break it.
.yarn/cache
.yarn/install-state.gz

# Packages and examples should be responsible for their own .gitignore
# Since they may be copied or published outside of the monorepo.
!packages/**/*
!examples/**/*
