name: Main CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v2
        with:
          path: ".yarn/cache"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install project
        run: |
          yarn install --immutable
      - name: Build Relay artifacts
        run: |
          yarn build:relay
      - name: Format ReScript
        run: |
          yarn rescript format -all
      - name: Build ReScript
        run: |
          yarn build:rescript
      - name: Sync router code generation
        run: |
          yarn router:generate
      - name: git status
        id: git_status
        run: |
          echo "::set-output name=status::$( git status --porcelain )"
      - name: Exit if routes have not been properly regenerated and commited, or if formatting is incorrect
        run: |
          exit 1
        if: steps.git_status.outputs.status
      - name: Run tests
        run: |
          yarn test
      - name: Build client example app assets
        run: |
          yarn build:vite:client
      - name: Build server example app assets
        run: |
          yarn build:vite:server
